.checkbox {
    display: flex;
    justify-content: center;
}

.submit{
    display: flex;
    justify-content: center;
}

#check {
    margin-right: 10px;
}

.register {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#divCheck {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}

.clic {
    cursor: pointer;
}

#envoiMail{
    transform:translateY(-50%);
}

#log {
    text-align: center;
}

.newMail {
    font-style: italic;
}

.newMail:hover{
    font-weight: bold;
}

.orange {
    background-color: #c8912a;
}

#keyPass, #haveMail {
    flex-direction: column;
    align-items: center;
}

#containerMailInscription,#receiveNewMail {
    display: flex;
    flex-direction: column;
}

#receive,#receiveMail {
    margin-top:8px;
}

#log {
    margin-bottom: 10px;
}