#titre{
    width:100%;
    text-align:center;
    font-weight:bold;
}

input[type="text"]{
    margin-bottom:5px;
}

#champTxtVille{
    width:50%;
    display:inline-block;
    margin-bottom:5px;
}


.lead .gras{
    display:block;

}

#listeVilles{
    margin-top :10px;
    padding-top:9px;
    border-top: 1px lightgray solid;
    text-align:center;
}

.lead .gras:nth-child(n+2){
    padding-top:15px;
    border-top : 1px rgba(0, 0, 0, 0.24) solid;
}

.ville{
    position:relative;
    cursor:pointer;
}

.descVille{
    display:none;
    width:80%;
    margin-left:10%;
    /* margin-top:5px; */

}

.containerVille{
    margin-top:2px;
}

.ville .tabVille{
    width:100%;
    text-align:center;
    border: 1px solid rgba(0, 0, 0, 0.212);
    /* border-radius:5px; */
    transition: all 0.2s;
    background-color:#c8912a;
    color:rgb(255, 255, 255);
    display:flex;
}

.ville .tabVille:hover{
    background-color: white;
    color:black;
}

.ville .tabVille .eltTabVille{
    margin-top : 5px;
    margin-bottom:5px;
    /* -webkit-user-select: none; // Safari 
    -ms-user-select: none; // IE 10+ and Edge 
    user-select: none; // Standard syntax  */
}

.ville .tabVille .eltTabVille:nth-child(-n+3){
    border-right:1px solid rgba(0, 0, 0, 0.212);
}

.iconeFlecheBas{
    height:auto;
    width:auto;
    color:white;
}

#choisirDates{
    position:relative;
    display:none;
}

#choisirDates #replier{
    position:absolute;
    top:10px;
    left:10px;
    font-size:2rem;
}

@keyframes arrow-up{
    0%{top:10px;}
    50%{top:5px;}
    100%{top:10px;}
}

#choisirDates #replier:hover{
    animation: arrow-up 0.3s;
}

.contDate{
    display:flex;
    /* border:1px black solid; */
    background-color: rgb(219, 219, 219);
    border-radius:10px;
    margin:2px;
}

.date{
    flex:4;    
}

.suppDate{
    color:red;
    flex:1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.suppDate:hover{
    cursor:pointer;
    background-color:red;
    color:white;
}

.validDate{
    color:green;
    flex:1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.validDate:hover{
    cursor:pointer;
    background-color:green;
    color:white;
}




#boutonCreerSpectacle{
    display: block;
    text-align:center;
    color:white;
    font-weight:bolder;
    border-radius:5px;
    background-color:rgb(161, 161, 161);
    margin-top:5px;
    margin-bottom:5px;
    transition: all 0.5s;
}

#boutonCreerSpectacle:hover{
    background-color:lightgray;
    color:black;
    cursor:pointer;
}

.ajouterDateSpectacle{
    display:inline-block;
    text-align:center;
    margin-top:5px;
    padding:5px;
    border-radius:5px;
    margin-right: 15px;
}

.methodeChoixDates{
    display:inline-block;
    width:200px;
}

.inputDate,.inputDatePas{
    display:block;
    width:20%;
    margin-left:40%;
    margin-top:5px;
    border-radius:5px;
}

#ajouterInputDate{
    width:20%;
    margin-left:40%;
    margin-top:5px;
    border-radius:5px;
    border:1px black outset;
    background-color:white;
    color:black;
    transition:all 0.2s;
}

#ajouterInputDate:hover{
    border: 1px black inset;
    background-color:grey;
    color:white;
}

#boutonValiderDates{
    display:none;
}

.nbDates{
    border:1px rgb(62, 62, 255) solid;
    position:absolute;
    right:20px;
    font-size:67%;
    background-color:rgb(62, 62, 255);
    color:white;
    padding-left:8px;
    padding-right:8px;
    border-radius:50px;
    display: inline-flex;
    align-items:center;
}

.nbDates > img{
    margin-left:5px;
    max-width:20px;
    max-height:20px;
}

.card-header > h5 > button{
    vertical-align:initial;
}

.card-header > h5 > i{
    font-size:0.75rem;
}

table{
    text-align:center;
}

.statsSpectaclesCollapse i{
    display:block;
    padding:20px;
}

.suppDateStats{
    color:red;
    text-align:center;
}

.suppDateStats:hover{
    cursor:pointer;
    background-color:red;
    color:white;
}

.archiverDate{
    color:orange;
    text-align:center;
}

.archiverDate:hover{
    cursor:pointer;
    background-color:orange;
    color:white;
}

.validDateStats{
    color:green;
    text-align:center;
}

.validDateStats:hover{
    cursor:pointer;
    background-color:green;
    color:white;
}

.boutonCalculerDates{
    margin:10px;
}

#accordionUser table tbody tr{
    transition : all 0.2s;
}

#infosDatesSelectionnees{
    display:fixed;
    opacity:0;
    width:300px;
    height:200px;
}

#infosDatesSelectionnees{
    opacity:0;
    position:fixed;
    width:600px;
    height:100px;
    bottom:100px;
    left: calc(50% - 300px);
    text-align:center;
    border:4px rgb(44, 44, 44) solid;
    border-radius:10px;
    background-color:white;
    font-weight:bolder;
    padding:10px;
}

.lienModifiable > i{
    padding:0;
    display:inline;
}

#txtRechercheVilleUser{
    display:inline-block;
    width:45%;
}