.userResult {
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    background-color: white;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 98;
}

.userResult:hover {
    background-color: #e9e9e9;
}

#userResult {
    margin-top: -6px;
    padding: 0;
}

#userSearch{
    z-index: 99;
}