
.item {
	margin-bottom: 5px; 
	list-style: none;
}
.item-txt {
	font-size: 13px;
    font-weight: 500;
}
.item-img {
	margin: 0 5px;
    width: 120px;
    height: 68px;
    overflow: hidden;
}

.item-img img {
	position: relative;
    top: -11px;
}

.page-header {
    text-align: center;
}

#results {
    text-align: left;
}

#results a {
    text-decoration: none;
    color: black;
}

.pagination {
    font-size: 1rem;
    font-weight: 400;
}

.menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
	font-size: 13px;
    font-weight: 500;
}

.date {
    width:auto;
    display:inline-block;
    background-color: white !important;
}

.hidden {
    display: none;
}

.media{
    padding:10px;
}

.media:hover{
    background-color:rgb(219, 219, 219);
    cursor:pointer;
}

#title{
    font-size:1.2rem;
    border-bottom:1px lightgrey solid;
}