
.item {
	margin-bottom: 15px; 
	list-style: none;
}
.item-txt {
	font-size: 13px;
    font-weight: 500;
}
.item-img {
	margin: 0 5px;
    width: 120px;
    height: 68px;
    overflow: hidden;
}

.item-img img {
	position: relative;
    top: -11px;
}

.page-header {
    text-align: center;
}

#results {
    text-align: left;
}

#results a {
    text-decoration: none;
    color: black;
}

.lead {
    text-align: center;
}

.pagination {
    font-size: 1rem;
    font-weight: 400;
}

.menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
	font-size: 13px;
    font-weight: 500;
}

.date {
    width:auto;
    display:inline-block;
    background-color: white !important;
}