.checkbox {
    display: flex;
    justify-content: center;
}

.submit{
    display: flex;
    justify-content: center;
}

#check {
    margin-right: 10px;
}

.register {
    color: red;
    cursor: pointer;
    display: flex;
    justify-content: end;
}

#divCheck {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}
